{% extends 'base.html.twig' %}

{% block title %}Date index{% endblock %}

{% block body %}
    <h1>Date index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for date in dates %}
            <tr>
                <td>{{ date.id }}</td>
                <td>{{ date.date ? date.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_date_crud_show', {'id': date.id}) }}">show</a>
                    <a href="{{ path('app_date_crud_edit', {'id': date.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_date_crud_new') }}">Create new</a>
{% endblock %}
