{% extends 'base.html.twig' %}

{% block title %}Domicile{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block main %}

<h2 class="text-2xl font-extrabold m-[1rem]">Évènements au domicile</h2>
    
    <ul>
        {% for event in events_home %}
        <div class="event-wrapper">
        <h3><span class={{ event.getCategory().getName() }}-category >{{ event.getCategory().getName() }}</span> {{ event.getTitle }}</h3>
        <p>Horaire : {{ event.getTime()|date('H:i') }}</p>
        <p>{{ event.getdescription() }}</p>
    </div>
    {% endfor %}
    </ul>

{% endblock %}

