{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


<div class="ml-10 mr-10">
    <h2 class="text-2xl font-extrabold m-[1rem]">Évènements du {{ day.date|date('d/m/Y') }}</h2>
    {% for event in day.getEvents() %}
    <div class="event-wrapper">
        <h3><span class={{ event.getCategory().getName() }}-category >{{ event.getCategory().getName() }}</span> {{ event.getTitle }}</h3>
        <p>Horaire : {{ event.getTime()|date('H:m') }}</p>
        <p>{{ event.getdescription() }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
