{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

{{ parent() }}

{% endblock %}

{% block main %}

<div class="ml-10 mr-10">
    

<h1 class="mb-4 text-4xl font-extrabold text-center p-[8px]" >Calendrier Juillet 2025</h1>
    
    <ul class="flex flex-wrap justify-around">
        {% for date in dates %}
            <div class="day-wrapper truncate w-48 h-36 p-2">
                <li><a href="{{ path('app_dailies', {id: date.getId() }) }}"><h2 class="text-2xl font-extrabold">{{ date.date|date('Y-m-d') }}</h2></a></li>
                <div>
                    {% for event in date.getEvents() %}
                        <li class="mb-[2px]"><p><span class={{ event.getCategory().getName() }}-category >{{ event.getCategory().getName() }}</span> {{ event.getTitle() }}</p></li>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}

